 body {
    margin: 0;
    padding: 0;
 }
 
.playerMenuContainer {
    width: 1920px;
    height: 1080px; 
    overflow: hidden;
    z-index:-9999;
    background-color: #333333;
    display: none;
}

 #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1920px;
     height: 1080px; 
     overflow: hidden;
     z-index:0;
    } 

 #Background 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1920px;
     height: 1080px;
     z-index:1;
} 

 #Untitled3 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1920px;
     height: 1080px;
     z-index:2;
} 

 #Untitled2 
{ 
     left: 1712px; 
     top: 10px; 
     position: absolute; 
     width: 200px;
     height: 50px;
     z-index:3;
} 

 #medic 
{ 
     left: 474px; 
     top: 450px; 
     position: absolute; 
     width: 355px;
     height: 630px;
     z-index:4;
} 

 #player 
{ 
     left: 59px; 
     top: 402px; 
     position: absolute; 
     width: 373px;
     height: 678px;
     z-index:5;
} 

 #firefighter 
{ 
     left: 886px; 
     top: 434px; 
     position: absolute; 
     width: 468px;
     height: 646px;
     z-index:6;
} 

 #cop 
{ 
     left: 1418px; 
     top: 425px; 
     position: absolute; 
     width: 450px;
     height: 655px;
     z-index:7;
} 
